.group--links{
  background: var(--gray-lightest);
  text-align: center;
  padding: 3.5rem 0 5rem 0;
  margin-bottom: var(--component-bottom-margin);
  ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    @include medium(){
      flex-direction: row;
    }

  }
  a{
    @include button($btn-color: $gray-dark, $bor-color: $gray-dark);
     margin: 0 .5rem;

  }

}
