{#

/* -------------------------

Title: _modal-page.twig
Descr: Sets up variables and content blocks for modal pages' extending of _default.twig
Passes: has-sidebar to contentWrapper
        sets sidebar class to sidebar--modal

--------------------------- */

#}


{# sets sidebar wrapper classes, modifiers #}
{% set sidebar_wrapper_base_class = sidebar_wrapper_base_class | default('sidebar') %}
{% set sidebar_wrapper_modifiers = sidebar_wrapper_modifiers | default(['']) %}
{% set sidebar_wrapper_extra_classes = sidebar_wrapper_extra_classes | default(['']) %}


{# {% extends "@pages/_page.twig" %} #}
{% extends "@templates/_default.twig" %}

{% block page_content %}

        {% include "@atoms/00-text/_heading.twig" with {
            "heading_level" : 1,
            "heading" : title,
            "heading_modifiers" : ["margin"],
            "heading_base_class" : "title"
        } %}

    {{main_content}}
{% endblock %}

{% block sidebar_content %}
    <div {{ bem(sidebar_wrapper_base_class, (sidebar_wrapper_modifiers), sidebar_wrapper_blockname, sidebar_wrapper_extra_classes) }}>
        {# Modal page navigation thinger goes here #}

        {{ aside_content }}
    </div>
{% endblock %}

