$white: white;
$black: #35363f;
$dark-text: #35363f;
$gray-dark: #5d5d5d;
$gray-med: #999;
$gray: #999; // depricate
$gray-lt: #d9d9d9;
$gray-light: #d9d9d9; // depricate
$gray-lightest:#f4f4f4;
$near-white: #f7f7f7; // depricate
$dusk: #435363;
$fog: #607774;
$storm: #4f869f;
$teal: #85c4ca;
$gold: #ffd91f;
$green: #4d9b5e;
$red: #b31b1b;