
/* -------------------------

Title: TOC page specials
Descr: changes grid grid gap

--------------------------- */

.container--toc{
    // grid-gap: calc(2 * var(--space));
}


// temporary toc ul style will add propers classes to block
.sidebar--toc{
    ul{
        background: #ffffff;
    }
}
