body{

}
.layout-region-node-main{
    float: none;
    width: 100%;
}
.layout-region-node-secondary{
    float: none;
}
.field--name-revision-log-message{
    display: none;
}

.seven-details{
    /* background: pink; */
}

.layout-node-form{
    display: grid;
    grid-template-columns: 1fr 200px; 
    grid-template-rows: 2;
    grid-template-areas: 
    "main secondary"
    "footer footer";

}
.layout-region-node-main{
    grid-area: main;
}
.layout-region-node-secondary{
    grid-area: footer;
}
.layout-region-node-footer{
    grid-area: secondary;
    width: 100%;
}
.layout-region-node-footer input{
    width: 100%;
    margin: .5rem 0;
    /* background: yellow; */
}
.layout-region-node-footer__content{
    /* background: pink; */
    position: sticky;
    top: 2rem;
}

[open="open"]{
    background: pink;
}