
{% extends "@templates/_default.twig" %}
{% block page_content %}
    <div class="title">
        {% include "@atoms/00-text/_heading.twig" with {
            "heading_level" : 1,
            "heading" : title,
            "heading_modifiers" : ["margin"]
        } %}
    </div>
<div class="columns columns--heavyLeft">

        <div>
            {{description}}
        </div>
        <div>
            {{level}}
            {{image}}
        </div>
    </div>
    
    {{body}}

{% endblock %}

{% set main_content_modifiers = ['major-minor', 'content'] %}