.container--major-minor{    
    grid-template-columns: repeat(6, minmax(50px, $max-column));
    grid-template-areas:
      "pano pano pano pano pano pano"
      ". title title title title ."
      ". social social social social ."
      ". content content content content ."
     ". sidebar sidebar sidebar sidebar .";
  @include medium{
    grid-template-columns: repeat(12, minmax(50px, $max-column));
    grid-template-areas:
      ". pano pano pano pano pano pano pano pano pano pano ."
      ". title title title title title title title title title title ."
      ". content content content content content content content content content social ."
      ". sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar .";
  }
  @include large{
    grid-template-columns: repeat(14, minmax(50px, $max-column));
    grid-template-areas:
      ". title title title title title jellyBeans jellyBeans jellyBeans jellyBeans jellyBeans jellyBeans jellyBeans ."
      ". description description description description description description description image image image image image  ."
      ". links links links links links links links image image image image image  ."
      ". content content content content content content content content content content content content .";
  }
  //override slice margin bottom on specific templates
  .slice{
    margin-bottom: 0;
  }
  .pano{
  grid-area: pano;
  }
  .title{
    // grid-area: title;     
  }
  .jellyBeans{
    grid-area: jellyBeans;
  }
  .description{
    grid-area: description;
  }
  .image{
    grid-area: image;
  }
  .links{
    grid-area: links;
  }
  .social{
    grid-area: social;
  }
  .content{
    grid-area: content;
  }
}
.grid > p,blockquote {
  grid-column: main ;
}

.full {
  grid-column: full;
  background: pink;
}