/* -------------------------

Title: container layouts.
Descr: 
    this is the container that spans from the <header> to <footer>. It establishes columns for sidebars etc. .mainContent(--modifier) is a child of .container.

    - --has-aside and has--sidebar are the base models. Basic page, and TOC both use them

    -- article and --hasPano are for articles, more complicated grids

--------------------------- */

.container{
  grid-column: 2;
  //padding: 0 var(--mainGutter);
  display: grid;
  align-items: flex-start;
  align-content: flex-start;

  &--has-aside{
    @include large{
      grid-gap: 2rem;
      grid-template-columns: 1fr minmax(200px, 300px);
      grid-template-areas: 
      "title title"
      "components aside";
      .title{
        grid-area: title;
      }
      .components{
        grid-area: components;
      }
      aside{
        grid-area: aside;
      }
    }
  }
  
  &--has-sidebar{
    .toc-menu,.sidebar-nav{
      grid-area: menu;
    }
    .sidebar{
      grid-area: sidebar;
    }
    main{
      grid-area: main;
    }
    @include medium{
      // grid-template-columns: 1fr 2fr;
      // grid-template-rows: minmax(100px, auto);
      // grid-gap: calc( 2 * var(--space));
      // grid-row-gap: var(--space);
      // grid-template-areas: // set up areas to fill
      // "sidebar main"
      // "sidebar main";
      //   .toc-menu,.sidebar-nav{
      //     grid-area: sidebar;
      //     grid-row: 1;
      //   }
      //   .sidebar{
      //     grid-area: sidebar;
      //     grid-row: 2;
      //   }
      }
    @include xxl{
        grid-gap: calc( 3 * var(--space));
        grid-row-gap: var(--space);
      }
    }
}