
/* -------------------------

Title: Event List
Descr: Sets grid default ( full width ) and stacked (in columns) event lists
        Sets all default individual event listings

--------------------------- */


// Default event list

.eventList{
    display: grid;
    grid-gap: var(--grid-gap);
    @include medium(){
       grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
   margin: 0 0 var(--component-bottom-margin) 0;
}

// Event list in columns
.columns{
    .eventList{
        grid-template-columns: auto;
    }
}



// Event listing item
.event{
    // flex: 0 0 30%;
    display: grid;
    grid-gap: var(--space);
    grid-row-gap: 0;
    grid-template-columns: 84px 1fr;
    grid-template-areas: 
    "date content";
    &__dateTime{
       grid-area: date;
       text-align: center;
    }
    &__month{
        font-weight: var(--heavy);
    }
    &__date{
        font-weight: var(--semi);
        border-bottom: 1px solid var(--gray-lt);
        margin-bottom: .25rem;
        padding-bottom: .25rem;
    }
    &__content{
        grid-area: content;
    }
    &__title{
        grid-area: title;
    }
    &__location{
        grid-area: location;
    }
    a{
        // color: var(--gray-dark);
    }
    span{
      display: block;  
    }
}

