.tabs__link,
.tabs__link--local-tasks {
  // background-color: var(--black);
  // border: 1px solid $gray-lt;
  // border-bottom: none;
  // color: var(--white);
  display: block;
  font-size: .75rem;
  font-weight: 400;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;

  // @include large {
  //   border-bottom: 1px solid $gray-lightest;
  //   border-left: none;
  //   display: inline-block;
  //   padding: .25em .5em;
  //   position: relative;
  //   top: 1px;
  //   width: auto;
  // }

  &:hover {
    text-decoration: underline;
  }

  &.is-active {
    // background-color: var(--white);
    // border: 1px solid $gray-lt;
    color: var(--black);

  }
}
