.nav--audience{
  font-size: var(--medium-font-size);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.audienceNav{
  @include list-reset;
  @include baseFlex;
  justify-content: flex-end;
}
.audienceNav__link{
  color: var(--dark-text);
  text-decoration-color: var(--gray-lt);
  margin-right: 1rem;
}