/* -------------------------

Title: teasers
Descr: Sets grid default teaser styles
Variations: 
  teaser
** still have to figure out why teasers with summaeries  are differnet sizes
--------------------------- */
.teaser {
  display: flex;
  align-items: flex-start;
  figure {
    margin-right: 1rem;
  }
}
// article specifici
.teaser--article {
  figure {
    max-width: 200px;
    img {
      width: 8rem;
    }
  }
}
