/* -------------------------

Title: Cards
Descr: Sets grid default card styles
Variations: 
  card--small
  card--article
  card--feature
  card--stat

--------------------------- */

// Devault card styles

.card {
  @include boxShadow;
  // @include baseBorder();
  border-radius: var(--border-radius);
  margin-bottom: var(--space);
}

.card__title {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: var(--semi);
  &-link {
    color: var(--black);
  }
}

.card__label {
  margin-bottom: 0;
  color: var(--gray-dark);
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  // @include link;
}

.card__button {
  @include button;
}

// Global small card can be overidden with .card--type .card--small

.card--small {
  @include baseGrid();
  grid-template-columns: $max-column 1fr;

  .card__title {
    @include baseFont(
      $size: var(--medium-font-size),
      $weight: var(--regular),
      $line-height: 1.4
    );
  }
  .card__label,
  .card__byline {
    display: none;
  }
  .card__date.card__date {
    text-align: left; // using double selctor instead of !important
  }
  //box-shadow: none;
}
// for embedded small cards
[data-embed-button="article_entity_embed"] {
  .card--small {
    max-width: 400px;
  }
}

// Article Cards

.card--article {
  grid-row: span 2;
  .card__copy {
    padding: 1rem;
    @include baseGrid($g-gap: 0px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "label label date"
      "title title title"
      "byline byline social";
  }
  .card__title {
    grid-area: title;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .card__label {
    grid-area: label;
    @include baseFont(
      $family: var(--font-serif),
      $size: var(--medium-font-size)
    );
  }
  .card__date {
    grid-area: date;
    text-align: right;
    font-size: var(--small-font-size);
  }
  .card__byline {
    grid-area: byline;
    font-size: var(--small-font-size);
  }
  &.card--small {
    // grid-template-columns: 180px 1fr;
    border: none;
    margin-bottom: 2rem;
    .card__copy {
      padding: 0.5rem 0.5rem 1rem 0;
      @include baseGrid($g-gap: 0px);
      grid-template-columns: 1fr;
      grid-template-areas:
        "date"
        "title";
    }
    .card__title {
      grid-area: title;
      margin: 0;
      @include baseFont(
        $size: var(--medium-font-size),
        $weight: var(--semi),
        $line-height: 1.4em
      );
    }
    .label,
    .byline {
      display: none;
    }
    .date {
      grid-area: date;
      text-align: left;
      margin-bottom: 0.25rem;
    }
    img {
      border-radius: var(--border-radius);
    }
  }
}

// Card Feature -- Campfire center big ole'card will be changing

.card--feature {
  @include baseGrid($g-gap: 0px);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "top top"
    "label dateline"
    "byline social";
  a {
    color: $white;
    margin: 1.5rem;
    padding: 1rem;
    text-align: center;
    @include baseBorder($bor-width: $quark, $bor-color: $white);
    font-weight: $semi;
    font-size: var(--font-size--huge);
    position: relative;
    z-index: 1;
    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: black;
      content: "";
      // mix-blend-mode: color-burn;
      opacity: 0.5;
      z-index: -1;
    }
  }
  .card__image {
    grid-area: top;
  }
  .card__title {
    grid-area: top;
    display: flex;
    align-items: flex-end;

    //z-index: 1;
  }
  .card__label {
    grid-area: label;
    @include baseFont($family: var(--font-serif));
    font-size: var(--medium-font-size);
    margin: (5 * $quark) 1rem;
  }
  .card__date {
    grid-area: dateline;
    text-align: right;
    font-size: var(--small-font-size);
    margin: 20px 1rem;
  }
  .card__byline {
    grid-area: byline;
    font-size: var(--small-font-size);
    margin: 0 1rem 1rem;
  }
}

// Stat Cards

.card--stat {
  padding: 1rem;
  text-align: center;
  grid-row: span 1;
  .card__title {
    display: none; // really never want this to show up even for a11y
  }
  .card__label {
    @include baseFont($size: 2rem, $weight: var(--heavy));
    border-bottom: solid 4px var(--green);
  }
  .card__body {
    font-weight: var(--semi);
  }
}

// COURSES
.card--course {
  padding: 1rem;
}
