{# 
    Slider wrapper called by paragraph--photo-text-slider.html.twig
    kinda depricating this as we are moving away from sliders...
 #}

{# {{kint(_context)}} #}

<div class="slice slider slider--photoText">
<div class="slides slider--photoText">
    {% if pl %}
        {% for photo_text in photo_texts %}
            {% include "@molecules/content/photo-text/photo-text.twig" with {
                        title: photo_text.title,
                        text: photo_text.text,
                        image: photo_text.image,
                        link_url: photo_text.link_url,
                        link_text: photo_text.link_text,
                        base_class : 'slide'
                        }
                    %}
            hi mark
        {% endfor %}
        {% else %}
    {% for item in items %}
        {{ item.content }}
    {% endfor %}
    {% endif %}
</div>
<fieldset aria-controls="carousel" aria-label="carousel buttons" class="navigation">
    <button aria-label="previous" class="prev">Prev<span class="as-icon as-icon--arrow-down"></span>
    </button>
    <button aria-label="next" class="next">
        <span class="as-icon as-icon--arrow-down"></span>Next</button>
</fieldset>
</div>