{#

/* -------------------------

Title: Block as TOC pages
Descr: block to show side bar nav for TOC pages.
    includes header and ul

--------------------------- */

 #}

<nav class="secondary toc-menu">
{% if label %}
    <h3>{{ label }}</h3>
{% endif %}
    {% block content %}
    {{ content }}
    {% endblock %}
</nav>
