/* -------------------------

Title: view containers
Descr: 
    uses the <main> 12 column grid as a base.

--------------------------- */
.basicSidebar--viewContainer {
  grid-template-rows: auto auto 1fr;
  .sidebar {
    grid-area: sidebar;
  }
  .pageTitle {
    grid-area: title;
  }
  .content {
    grid-area: content;
  }
  .pager {
    grid-area: pager;
  }
  // base layout
  grid-template-areas:
    "sidebar"
    "title"
    "content"
    "pager";
  // medium layout
  @include medium {
    grid-template-areas:
      "sidebar sidebar sidebar sidebar title title title title title title title title "
      "sidebar sidebar sidebar sidebar content content content content content content content content "
      "sidebar sidebar sidebar sidebar pager pager pager pager pager pager pager pager ";
  }
}
