{# 
    Creates center column of main campfire
    -campfire_center_main - reference to article, viewmode = large 
    -campfire_center_text - shows as the normal text output
    -campfire_center_articles - reference to articles, viewmode = list
 #}


<div class="campfire__feature">
{{campfire_center_main}}
<div class="campfire__support">
{{campfire_center_text}}
<ul>
    {{campfire_center_articles}}
</ul>
</div>

</div>

