{#

/* -------------------------

Title: _toc-page--card.twig
Descr: shows just header, summary and links for TOC blocks on pages

--------------------------- */

#}
<div class="card--toc">

    {% block content %}
        {{ main_content }}
    {% endblock %}
</div>
