{#

/* -------------------------

Title: Simple Container
Descr: just used to output plain jane wrapper for some kind of content.
Calledby: pce--layout-group.html.twig

--------------------------- */

 #}

{% set base_class = base_class | default('') %}
{% set modifiers = modifiers | default(['']) %}
{% set classes = classes | default(['']) %}

{# {{modifiers|length}} #}

<div {{bem(base_class,(modifiers),'',classes)}} >
    {{content}}
</div>