{#

/* -------------------------

Title: formatted-text-block
Descr: ouputs FTB content, label, and layout.

--------------------------- */

 #}
<div {{bem(group_base_class,(group_modifiers),'',group_classes)}}>
{{ title_suffix }}
    {{content}}
</div>
