{#

/* -------------------------

Title: instagram.twig
Descr: outputs the instagram items in list or single format


--------------------------- */

#}
{# {{ format }} #}
<div class="insta">
  <span class="insta__info">
    Explore A&S on Instagram<br /><a href="#">{{ keyword }}</a>
  </span>
  {{ content }}
</div>