/* -------------------------

Title: Stat List
Descr: Sets grid for default (horizontal) stat list
Specials: Removes margin bottom for stat list in columns.

--------------------------- */

// Default 

.group--stats{
    @include baseGrid();
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    margin-bottom: var(--component-bottom-margin);
    h2{
      grid-column: 1 / -1;
    }
}

// in columns blocks

.columns{
    .statList{
        margin-bottom: 0;
    }
}