/* -------------------------

Title: Buttons
Descr: 
   - pill links
   - js trigger buttons / icon buttons

--------------------------- */
.button {
  @include button;
  //previous and next buttons
  &.prev,
  &.next {
    span {
      content: "";
      font-size: 1rem;
      width: 35px;
      line-height: 35px;
      top: 1px;
      right: 0;
      text-align: center;
      text-indent: 0;
      color: $black;
      cursor: pointer;
    }
  }
  &.prev {
    span {
      transform: rotate(90deg);
    }
  }
  &.next {
    span {
      transform: rotate(-90deg);
    }
  }
}

// icon buttons
.iconButton {
  svg {
    width: 1rem;
  }
}
