//////////////////////////
// General Variables

/*
    All width variables moved to _01-breakpoint.scss so breakpoint could use them.
*/

/*
    Font styles
*/

// Fonts
$font-sans: "canada-type-gibson", sans-serif;
$font-serif: "freight-micro-pro", verdana;
$font-curly: "Alisha";

$font-body: $font-sans;
$font-heading: $font-sans;

//font size
$base-font-size: 6 * $quark; //24px
$base-line-height: 1.4;

//font weight
$light: 300;
$regular: 400;
$semi: 600;
$heavy: 800;

// Spacing
$space: 1.5rem;
$largeGap: 12 * $quark;

// Grid Columns
$max-column: $quark * 20; // 80px

// times
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;
$space-quintuple: $space * 5;
$space-sextuple: $space * 6;
$space-septuple: $space * 7;

// divided
$space-one-half: $space/2;
$space-one-third: $space/3;
$space-one-fourth: $space/4;
$space-one-fifth: $space/5;
$space-one-sixth: $space/6;
$space-one-seventh: $space/7;
$space-one-eighth: $space/8;

// colors
$white: white;
$black: #35363f;
$dark-text: #35363f;
$gray-dark: #707070;
$gray-med: #959595;

$gray-lt: #c2c0c0;

$gray-lightest: #eee;

$dusk: #435363;
$fog: #607774;
$storm: #4f869f;
$teal: #85c4ca;
$gold: #ffd91f;
$green: #4d9b5e;
$red: #b31b1b;

$gray: #999; // depricate
$gray-light: #d9d9d9; // depricate
$near-white: #fbfbfb; // depricate
//bold new world of variables

:root {
  --white: white;
  --black: #2c2c2c;
  --dark-text: #35363f;
  --gray-dark: #707070;
  --gray-med: #959595;
  --gray-lt: #c2c0c0;
  --gray-lightest: #fbfbfb;
  --dusk: #435363;
  --fog: #607774;
  --storm: #4f869f;
  --teal: #85c4ca;
  --gold: #ffd91f;
  --green: #4d9b5e;
  --red: #b31b1b;

  --gray: #c2c0c0; // depricate
  --gray-light: #d9d9d9; // depricate
  --near-white: #fbfbfb; // depricate

  // widths
  --xs: 320px;
  --small: 480px;
  --medium: 782px; // 782
  --large: 1224px; // 1,224
  --xl: 1432px; // 1,432
  --xxl: 1640px; // 1640

  // Font families
  --font-sans: "canada-type-gibson", sans-serif;
  --font-serif: "freight-micro-pro", verdana;
  --font-curly: "Alisha";

  // font size
  --base-font-size: 20px;
  @include large {
    --base-font-size: 24px;
  }

  --medium-font-size: 20px;
  --small-font-size: 16px;
  --sidebar-font-size: 20px;
  --main-font-size: 28px;
  --font-size--huge: 60px;

  //font weights

  --light: 300;
  --regular: 400;
  --semi: 600;
  --heavy: 800;

  // border-variables

  --border-width: 1px;
  --border-color: var(--gray-light);
  --border-radius: 4px;

  // spacing elements
  --space: 1rem;
  @include medium() {
    --space: 1.5rem;
  }

  // gutter on first level wrappers; header, .container

  --mainGutter: var(--space);
  @include small() {
    --mainGutter: var(--space); // 1 rem
  }

  @include medium() {
    --mainGutter: calc(2 * var(--space)); // 2rem
  }

  // Base grid variables

  --auto-grid-min-size: calc(10 * var(--space));
  --grid-gap: var(--mainGutter);

  --base-grid-column: 84px;

  // @include medium(){
  //     --base-grid-gap: calc(1.5 * var(--space));
  // }

  // universal spacing variables

  --component-bottom-margin: calc(1 * var(--space));
}

//font weight

// border variables
$border-width: 1px;
$border-color: $gray-lightest;
$border-radius: 4px;
