/* -------------------------

Title: <main> layouts.
Descr: 
    main content is the <main> tag. It is where the main components are. It is a child of the .container.

--------------------------- */

.main {
  // base page main conent grids
  max-width: var(--xl);
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  // row gap 0 circle back
  grid-row-gap: 0;
  padding: 0 1rem;
  @include medium {
    @include base12GridColumns();
  }
}
// Basic
.basic,
.landingPage {
  > div {
    grid-column: 1 / -1;
  }
}
// Basic sidebar
.basicSidebar {
  //   background: pink;
  grid-template-rows: auto auto 1fr;
  // grid-template-areas:
  //   "nav"
  //   "title"
  //   "content";
  .siteNav {
    grid-area: nav;
  }
  .title {
    grid-area: title;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .content {
    grid-area: content;
  }
  aside {
    grid-area: aside;
  }
  grid-template-areas:
    "nav"
    "title"
    "content"
    "sidebar";
  @include medium {
    grid-template-areas:
      "nav nav nav nav title title title title title title title title"
      "nav nav nav nav content content content content content content content content"
      "sidebar sidebar sidebar sidebar content content content content content content content content";
  }
  &--has-aside {
    @include medium {
      grid-template-areas:
        "nav nav nav nav title title title title title title title title"
        "nav nav nav nav content content content content content content aside aside"
        "sidebar sidebar sidebar sidebar content content content content content content aside aside";
    }
  }
}

// Article moved to _article.scss

// .article{
//     // grid-template-columns: repeat(12,calc(8.333% - 2rem));
//     grid-template-rows: auto auto;
//     grid-template-areas:
//         ". title title title title title title thumbnail thumbnail thumbnail thumbnail ."
//         "social social content content content content content content content aside aside aside";
//     .title{
//       grid-area: title;
//       align-self: center;
//     }
//     .social{
//       grid-area: social;
//     }
//     .content{
//       grid-area: content;
//     }
//     .thumbnail{
//       grid-area: thumbnail;
//     }
//     aside{
//       grid-area: aside;
//     }
//     &--pano{
//       grid-template-rows: auto auto auto 1fr;
//       grid-template-areas:
//         ". pano pano pano pano pano pano pano pano pano pano ."
//         ". . title title title title title title title title . ."
//         "social social content content content content content content content thumbnail thumbnail thumbnail"
//         "social social content content content content content content content aside aside aside";
//       .pano{
//         grid-area: pano;
//         justify-self: center;
//       }
//       .title{
//         text-align: center;
//       }
//     }
// }

.page {
  &--landing-page {
    @include medium {
      // grid-template-columns: repeat(12, 1fr);
      // grid-template-areas:
      // "page-title page-title page-title page-title page-title page-title page-title page-title page-title page-title page-title page-title"
      // "content content content content content content content content content content content content";
    }
    @include large {
      // grid-template-columns: repeat(14, 1fr);
      // grid-template-areas:
      //     "page-title page-title page-title page-title page-title page-title page-title page-title page-title page-title page-title page-title page-title page-title"
      //     "content content content content content content content content content content content content content content";
    }
    @include xl {
      // gird-template-columns: repeat(14, $max-column);
    }
  }
  // ----- TOC
  &--toc {
    &.page--has-aside {
      @include medium {
        grid-template-areas:
          "nav nav nav nav title title title title title title title title"
          "nav nav nav nav content content content content content content content content"
          "aside aside aside aside content content content content content content content content";
      }
    }
  }
}

//if additional sidebar grid needs to be created, it will go here.

// sections of a basic page
.page-title {
  grid-area: page-title;
  display: block;
}
.main-content {
  grid-area: content;
}
