/* -------------------------

Title: componentWrappers
Descr: 
    Takes care of any universal component wrapper stylings

--------------------------- */

// Might want to make margin-bottom different for landing and basic pages...

.components{
  
  >span{
    display: block;
    margin-bottom: 4rem;
  }
}

.pageComponent{
  margin-bottom: var(--component-bottom-margin);
  clear: both;
}