/* 
  Base styles for all figures
  - basic figure
  - figure based on different view modes
  - extra class based on image style to set max widths
*/

figure {
  margin: 1rem 0;
  background: var(--gray-lightest);
  width: 100%;
  border-radius: var(--border-radius);
  &.figure {
    &--pano {
      margin: 0;
    }
    &--image {
    }
    &--video {
      // display: block;
    }
    &--card {
    }
    &--thumbnail {
      background: none;
    }

    // other styles here....
  }
}
// figures in pageComponent--ftb need special width restrictions
.pageComponent--ftb {
  .figure {
    &--6_4_newsletter {
      max-width: 600px;
    }
    &--5_4 {
      max-width: 520px;
    }
    &--4_5 {
      max-width: 300px;
    }
  }
}

figcaption {
  font-weight: var(--light);
  font-size: var(--medium-font-size);
  padding: 1rem;
}
