
/* -------------------------

Title: Modal page specials
Descr: changes grid grid gap

--------------------------- */

.container--modal{
    grid-gap: calc(2 * var(--space));
}


// temporary modal ul style will add propers classes to block 
.sidebar--modal{
    ul{
        background: #cfefc2;
    }
}