
/* -------------------------

Title: _text.scss
Descr: 
      - Basic page text definitions
      - Special display class definitions

--------------------------- */

html{
  font-size: var(--base-font-size);
}
body {
  @include baseFont();
  overflow-x: hidden;
}
p{
  margin: 0 0 1em;
}
.blockquote {
  font-style: italic;
  border-left: solid 3px var(--gray-lt);
  margin-left: 1em;
  padding-left: 1em;
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}
/*
  Intros
*/
.intro{
  font-size: 1.5rem;
  text-align: center;
  max-width: 1200px;
  &[class$="--curly"]{
    font-family: var(--font-curly);
    font-size: 4rem;
    line-height: .75;
    margin: 0 auto 4rem;
    transform: rotate(-6deg);
    filter: drop-shadow(-1px -1px 0 var(--gold) drop-shadow(1px 1px 0 var(--green)));
  }
}