{#

/* -------------------------

Title: _grouping.twig
Descr: Provides container for all items in a grouping. If it's a multiple it shows a title for the block derived from the name of the component entered.
Gets: Label, content, title

group_base_class = group
group_modifiers = type of component
group_classes = pageComponent

** going with generic <div> rather than <ul> so we don't have to have different templates for showing single items. If we used <ul> then card templates would need to be <li> and that would mess up single elements.
--------------------------- */

#}

{% set group_base_class = group_base_class | default('simpleGroup') %}
{% set group_modifiers = group_modifiers | default(['']) %}
{% set group_classes = group_classes | default(['pageComponent']) %}



<div{{bem(group_base_class,(group_modifiers),'',group_classes)}}>
  <div class="text">{{ item1 }}</div>
  <div class="items">{{ item2 }}</div>
</div>
