/* -------------------------

Title: grouping.scss
Descr: 
    used for grouping containers that are not controlled by individual component styles. 
    Expecially things that just ouput two items sidebyside or stacked.

--------------------------- */

.simpleGroup{
  display: grid;
  grid-gap: var(--grid-gap);
  .items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  &--row{
    @include medium(){
      grid-template-columns: 1fr 1fr;
      align-items: center;
      .text{
        grid-column: 1 / 1;
      }
      .items{
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
      }
    }
  }
  // &--stack{
    
  // }
  
}