/* -------------------------

Title: Photo Text group Wrappers
Descr: Set main wrapper for photo text bocks
        --slider
        --featured
        ** to add --auto-invert ** 

--------------------------- */

.group--photoText{
  margin-bottom: var(--component-bottom-margin);
  &--slider{
    overflow: hidden;
    padding: 0;
    position:relative;
    padding: 0;
    margin-bottom: 0;
    >div[aria-hidden="true"]{
      display: none;
    }
    >div[aria-hidden="false"]{
      display: grid;
    }
  }
  &.slider--active{
    .navigation{
      float: right;
      opacity: 1;
      border: none;
    }
  }
  &--featured{
    .photoText {
      margin-bottom: 2rem;
      img {
        max-width: 100%;
        display: block;
      }
    }
    .photoText__text {
      display: block;
      text-align: center;
      @include boxShadow;
      border: var(--border-width) solid var(--border-color);
      border-radius: var(--border-radius);
      background: var(--white);
      padding: 0 1rem;

      z-index: 10;

      // grid
      grid-column: span 5;
      grid-row: span 3;
    }

    // medium
    @include medium() {
      .photoText{
        //margin-top: -1rem;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr (5*$space) min-content;
      }
      .photoText__image {
        grid-column: 1 / span 10;
      }
      .photoText__text {
        grid-column: 8 / span 6;
      }
      .photoText:nth-of-type(2n + 2) {
        .photoText__image {
          grid-column: 3 / span 10;
        }
        .photoText__text {
          grid-column: 1 / span 6;
        }
      }
      .photoText:nth-of-type(3n + 3) {
        //background: green;
        .photoText__image {
          grid-column: 2 / span 10;
        }
        .photoText__text {
          grid-column: 5 / span 6;
        }
      }
    }

    // large size
    @include large() {
      .photoText{
        // margin-top: -1rem;
        margin-bottom: -2rem !important;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr (5*$space) min-content;
        //margin-top:-1rem;
      }
      .photoText__image {
        grid-column: 1 / span 8;
        grid-row: 1 / span 2;
      }
      .photoText__text {
        grid-column: 8 / span 5;
        grid-row: 2 / span 2;
      }
      .photoText:nth-of-type(2n + 2) {
        .photoText__image {
          grid-column: 4 / span 8;
        }
        .photoText__text {
          grid-column: 1 / span 5;
        }
      }
      .photoText:nth-of-type(3n + 3) {
        .photoText__image {
          grid-column: 2 / span 8;
        }
        .photoText__text {
          grid-column: 8 / span 5;
        }
      }
    }
  }
}
