.article{
    // grid-template-columns: repeat(12,calc(8.333% - 2rem));
    grid-template-rows: auto auto;
    grid-template-areas: 
        ". title title title title title title thumbnail thumbnail thumbnail thumbnail ."
        "social social content content content content content content content aside aside aside";
    .title{
      grid-area: title;
      align-self: center;
    }
    .social{
      grid-area: social;
    }
    .content{
      grid-area: content;
    }
    .thumbnail{
      grid-area: thumbnail;
    }
    aside{
      grid-area: aside;
    }
    &--pano{
      grid-template-rows: auto auto auto 1fr;
      grid-template-areas: 
        ". pano pano pano pano pano pano pano pano pano pano ."
        ". . title title title title title title title title . ."
        "social social content content content content content content content thumbnail thumbnail thumbnail"
        "social social content content content content content content content aside aside aside";
      .pano{
        grid-area: pano;
        justify-self: center;
      }
      .title{
        text-align: center;
      }
    }
}

// // article thumbnail figure 
// .thumbnail{
//   figure{
//     width: 100%;
//     img{
//       max-width: 100%;
//     }
//   }
// }