{#

/* -------------------------

Title: Related Articles
Descr: Wrapper for related articles, header, and intro

--------------------------- */

 #}
<div class="related-articles">
    {% include "@atoms/00-text/_heading.twig" with {
                "heading_level" : 3,
                "heading" : header,
                "heading_modifiers" : ["margin"]
    } %}

    {{intro}}
    {{articles}}
</div>

