/* -------------------------

Title: Site header styles
Descr: Set 
        - #skip
        - header
        - .cu-logo
        - .as-logo
all search form design in _forms.scss

--------------------------- */
#skip {
  position: absolute;
  top: 50px;
  z-index: 3;
  a {
    z-index: 0;
    position: absolute;
    left: -5000px;
    width: 250px;
    font-weight: 600;
    &:focus {
      left: 200px;
    }
  }
}

header {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto auto auto;
  @include medium {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
  }

  grid-template-areas:
    "logo logo logo buttons"
    "nav nav nav nav"
    "search search search search";
  @include medium {
    grid-template-areas:
      "logo nav buttons"
      "search search search";
  }
  max-width: var(--xl);
  margin: 0 auto;
  form {
    grid-area: search;
  }
  .header__lockup {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__mainNav {
    grid-area: nav;
    width: 100%;
    @include medium() {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .main-nav-toggle {
    grid-area: navIcon;
  }
  .img {
    max-width: initial; // force logo full size
  }

  //large screen
  @include medium() {
    flex-direction: row;
    padding: 3rem 1rem;
  }
}

.cu-logo {
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  background: url(/themes/custom/pathways/images/CU-insignia.svg);
  background-size: 80px 80px;
}

.as-logo {
  text-indent: -9999px;
  width: 193px;
  height: 47px;
  background: url(/themes/custom/pathways/images/college.svg);
  background-size: 193px 47px;
  position: relative;
  margin-left: 20px;
  &:before {
    position: absolute;
    width: 1px;
    background: var(--gray-lt);
    height: 100%;
    top: 0;
    left: 0px;
    content: "";
  }
}
// show nav and search buttons
.header__buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .iconButton--showNav {
    @include medium() {
      display: none;
    }
  }
}
